# Node.js and Nightwatch

trigger:
  - master

pr:
  - master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build-example
      ./node_modules/.bin/serve -n -l 5000 example/dist &
      SERVER_PID=$!
      echo "Server started with PID ${SERVER_PID}"
      sleep 5
      npm run test
      kill $SERVER_PID
      npm run lint
    displayName: 'Run tests'
